<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1>Mission to Mars</h1> 
				<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
		</div>
	</div> 
	
	
	<div class="container-fluid" >
		<h3>Latest Mars News</h3>
        <h2>{{mars_data.news}}</h2>
    </div>
	
	<div class="container-fluid">
            <div class="row">
              <div class="col-sm fluid">
                    <h3>Featured  Mars Image</h3>   
                    <img src="{{mars_data.Image}}" alt="Featured Image of Mars"/>
              </div>
			  
              <div class="col-sm">
					<h2>Current Weather On  Mars</h2>
					<div>{{mars_data.weather}}</div>
              </div>
				
                <div class="col-sm">
                  <h2>Mars Facts:</h2>
                  <html>{{mars_data.facts}}</html>
                </div>
             </div>          
    </div>

    
<div class="container-fluid">
  <div class="row" id="mars-hemispheres" style="margin-top:80px;">

    <div class="page-header">
      <h2 class="text-center">Mars Hemispheres</h2>
    </div>

    <div>
      {% for hemisphere in mars_data.hemisphere_image_urls %}
      <div class="col-md-6">
        <div class="thumbnail">

          <!-- if images is False/None/non-existent, then default to error message -->
          <img src="{{hemispheres.url_list | default('static/images/error.png', true)}}" alt="...">
          <div class="caption">
            <h3>
              <!-- write code to rander hemisphere title -->
              {{hemisphere.title}}
            </h3>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
	
  </div>
  </div>
</body>

</html>
