<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1>Mission to Mars</h1> 
				<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
		</div>
	</div> 
	
	<div class = "row">
    <div class = "col-md-12">
      <h1 class = "font-weight-bolder"> Latest Mars News </h1>
      <h2>{{mars_data.title}}</h2>
      <p>{{mars_data.Paragraph}}</p>
    </div>
    <!-- <div class="container-fluid" > -->

</div>


	
          <div class="row">
              <div class="col-lg-8">
                    <h1 >Featured  Mars Image</h1>   
                    <img class= "img-responsive" src="{{mars_data.Image}}" alt="Featured Image of Mars"/>
              </div>
			  
            <div class="col-lg-4">
              <div class = "row">
                <div class = "col-lg-12">

                   <h1>Current Weather On  Mars</h1>
                   <p>{{mars_data.weather}}</p>
                  
                </div>
              </div>


              <div class = "row">
                <div class = "col-lg-12">
                   <h1>Mars Facts:</h1>
                   <p>{{mars_data.facts| safe}}</p>


                </div> 
              </div>
            </div>



           </div>
         
  

    
<div class="container-fluid">
  <div class="row" id="mars-hemispheres" style="margin-top:80px;">

    <div class="page-header">
      <h1 class="text-center">Mars Hemispheres</h1>
    </div>

    <div>
      {% for hemisphere in mars_data.hemispheres %}
      <div class="col-md-6">
        <div class="thumbnail">

          <!-- if images is False/None/non-existent, then default to error message -->
          <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
          <div class="caption">
            <h2 class="text-center">
              <!-- write code to rander hemisphere title -->
              {{hemisphere.title}}
            </h2>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
	
 <!-- jQuery CDN -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

 <!-- Bootstrap CDN -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 


</body>

</html>
